<div class="form-container">
  <mat-form-field>
    <input matInput type="text" name="title" [(ngModel)]="formData.title" required>
    <mat-label>Title</mat-label>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="formData.date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-label>Date</mat-label>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput name="description" [(ngModel)]="formData.description" required></textarea>
    <mat-label>Description</mat-label>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">Add Appointment</button>
</div>
